<!DOCTYPE html>
<html>
<head>
    <meta charset="utd-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
    <script type="text/javascript" charset="utf-8"></script>

    <!-- 합쳐지고 최소화된 최신 CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <!-- 부가적인 테마 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.2/cerulean/bootstrap.min.css" type="text/css">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <!-- 합쳐지고 최소화된 최신 자바스크립트 -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

    <title>Image Upload Form</title>
    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
</head>
<style>
    body { padding-top: 70px; }
</style>
<body>
    <script>
        function submitForm() {
            console.log("submit event");
            var dev_id = 999;
            var fd = new FormData(document.getElementById("files"));
            var dic = '{ "device_id" : "' + dev_id + '" }';
            fd.append("data", dic);
            //fd.append("file", document.getElementById("fileUpload").files[0]);

            $.ajax({
              url: host + "request_face_detection_by_file",
              type: "POST",
              data: fd,
              enctype: 'multipart/form-data',
              processData: false,  // tell jQuery not to process the data
              contentType: false   // tell jQuery not to set contentType
            }).done(function( data ) {
                //debug console
                console.log("Response Output:");
                console.log(data);

                var pars = JSON.parse(data);
                if(pars["result"] != -1) {
                    $("#recv_image").empty();
                    $("#recv_image").append('<img src="' + pars["image"] +
                        '" width="300px" height="300px" style="max-width:100%" />');
                } else {
                    alert("Does Not exist the face");
                }
            });
            return false;

        }
    </script>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid" style="font-size: 200%">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/" style="font-size: 120%"> TEAM OLD BOY </a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/cameraStream"> 카메라 사진 확인 </a></li>
            <li><a href="/state"> 등록 현황 </a></li>
            <li><a href="/regit"> 등록 하기 </a></li>
            <li><a href="/findToFile"> 파일로 찾기 </a></li>
          </ul>
        </div>
      </div>
    </nav>

    <h1>Find To File</h1>
    <br>

    <form method="post" id="files" name="files" enctype="multipart/form-data" onsubmit="return submitForm();">
        <input id="fileUpload" type="file" name="file[]" multiple />
        <br>

        <input type="submit" value="Submit" />
    </form>
    <label>Result</label><br>
    <div id="recv_image"></div>
    <script>
        // file selection
        var host = "http://175.126.82.175:20100/";

        $("#fileUpload").on('change', function () {

            //Get count of selected files
            var imgPath = $(this)[0].value;
            var extn = imgPath.substring(imgPath.lastIndexOf('.') + 1).toLowerCase();

            if (extn == "gif" || extn == "png" || extn == "jpg" || extn == "jpeg") {
                if (typeof (FileReader) == "undefined") {
                    alert("This browser does not support FileReader.");
                }
            } else {
                alert("Pls select only images");
            }
        });
    </script>

</body>

</html>