<!DOCTYPE html>
<html>
<head>
    <meta charset="utd-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
    <script type="text/javascript" charset="utf-8"></script>

    <!-- 합쳐지고 최소화된 최신 CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <!-- 부가적인 테마 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.2/cerulean/bootstrap.min.css" type="text/css">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <!-- 합쳐지고 최소화된 최신 자바스크립트 -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

    <title>Image Upload Form</title>
    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
</head>
<style>
    body { padding-top: 70px; padding-left: 20px; }
</style>
<body>
    <div id="registered-image-holder">
        <h1><p style="padding-left:10px; border-left:5px solid #87ceeb;">Registered Person</p></h1>
    </div>
    <br>

    <div class="text-center" id ="loading_div">
        <br>
        loading...<br>
        <div id="loading">●</div>
    </div>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid" style="font-size: 200%">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/" style="font-size: 120%"> TEAM OLD BOY </a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
          <ul class="nav navbar-nav">
            <li><a href="/cameraStream"> 카메라 사진 확인 </a></li>
            <li class="active"><a href="/state"> 등록 현황 </a></li>
            <li><a href="/regit"> 등록 하기 </a></li>
            <li><a href="/findToFile"> 파일로 찾기 </a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
        <div id="registered_panel" class="row">

        </div>
    </div>

    <script>
        // first data send for already registered person
        $( document ).ready(function() {
            var formData = new FormData();
            formData.append("data", '{ }');
            $.ajax({
                url: host + "request_data",
                type: "POST",
                data: formData,
                processData: false,  // tell jQuery not to process the data
                contentType: false   // tell jQuery not to set contentType
            }).done(function( data ) {
                // debug console
                console.log("Response Output:");
                console.log(data);

                var pars = JSON.parse(data);
                var device_datas = pars["device_datas"];
                var face = pars["faces"];
                $("#loading_div").remove();
                // registered person info
                for(var i = 0; i < face.length; i++) {
                    regitPersonPanel(face[i]["id"], face[i]["thumbnail"], face[i]["name"], face[i]["kind"]);
                }
            });
        });

    </script>

</body>

<script>
    var host = "http://175.126.82.175:20100/";
    var kind_pic = {"-1" : "black", "0" : "green", "1" : "blue", "2" : "red"};
    var kind_set = {"-1" : "Unknown", "0" : "Normal", "1" : "Missing", "2" : "Wanted"}

    function regitPersonPanel(id, thumb, name, kind) {
        var regit_id = "regit_id_" + id;
        var thumb_id = "thumb_id_" + id;
        var name_id = name;
        var kindStr = String(kind);

        if(document.getElementById(regit_id) == null) {
            $("#registered_panel").append('<div class="col-lg-2 col-md-2 col-sm-3 col-xs-3">' +
                '<div class="panel panel-info" style="font-size: 130%">' +
                    '<div id="" class="panel-heading text-center">' +
                        kind_set[kind] +
                    '<span class="pull-right clickable" data-effect="fadeOut" data-id="' + name + '">' +
                    '<i class="fa fa-times"></i></span></div>' +
                    '<div class="panel-body" style="text-align: center">' +
                        '<div class="div">' +
                    '<img src="' + host + thumb + '" data-id="' + thumb_id +
                            '" width="150px" height="150px" style="max-width:100%;border:2px solid ' + kind_pic[kindStr] + ';">' +
                        '</div>' +
                    '</div>' +
                    '<div class="panel-footer" style="text-align: center">' +
                        '<div id="' + name_id + '" style="text-align: center">' + name_id +
                    '</div>' +
                '</div>' +
            '</div>');
        }

        $(function(){
            $('.clickable').on('click',function(){
                var effect = $(this).data('effect');
                var present_name = $(this).data('id');

                //result = confirm('삭제 하시겠습니까');
                //if(result) {
                    $(this).closest('.panel')[effect]();

                    // delete_request message
                    var formData = new FormData();
                    var req_msg = '{ "name" : "' + present_name +'" }';

                    // use only id, not name.
                    if(present_name == name) {
                        formData.append("data", req_msg);
                        $.ajax({
                            url: host + "request_unregister_face",
                            type: "POST",
                            data: formData,
                            processData: false,  // tell jQuery not to process the data
                            contentType: false   // tell jQuery not to set contentType
                        }).done(function( data ) {
                            console.log("Response Output:");
                            console.log(data);

                            var pars = JSON.parse(data);
                            console.log(pars);
                        });
                    }
                //}

            })
        });

    }

    function createSocket(address, name) {
        socket = new WebSocket(address);
        socketName = name;
        socket.binaryType = "arraybuffer";
        socket.onopen = function() {
            console.log("Connected")
        }
        socket.onmessage = function(e) {
            j = JSON.parse(e.data)
            console.log(j["content"]["device_id"]);
            if(j.type == "image") {
                devicePicturePanel(j["content"]["device_id"], j['content']['image']);
                //device panel process
                $("#device_image").html(
                    "<img src='" + j['content']['image'] + "' width='430px'></img>"
                )
            }
        }
        socket.onclose = function(e) {
            if (e.target == socket) {
                $("#serverStatus").html("Disconnected.")
            }
        }
    }
    $("#detectedFaces").html("");
    createSocket("ws://175.126.82.175:20100/ws", "Local");
</script>
<style>
    #loading {
        display: inline-block;
        width: 50px;
        height: 50px;
        border: 3px solid rgba(255,255,255,0.3);
        border-radius: 50%;
        border-top-color: #fff;
        animation: spin 1s ease-in-out infinite;
        -webkit-animation: spin 1s ease-in-out infinite;
    }
    @keyframes spin {
        to { -webkit-transform: rotate(360deg); }
    }
    @-webkit-keyframes spin {
        to { -webkit-transform: rotate(360deg); }
    }
</style>
</html>