.imgcontainer {
	position:relative;
	float:left;
	}
.caption {
	font: normal 1em/1.3em arial;
	background:#fff;
	color:#000;
	position:absolute;
	bottom:0;
	left:0;
	text-align:center;
	width:100%;
	opacity:.75;
	filter:alpha(opacity=85);
	}